<footer class="footer mt-auto">
  <div class="footer-container">
    <div class="footer-left">
      <p>&copy; 2025 WanderLust, Inc.</p>
      <nav class="footer-links">
        <a >Privacy</a>
        <a >Terms</a>
        <a>Sitemap</a>
      </nav>
    </div>

    <div class="footer-right">
      <div class="footer-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>
</footer>
